@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 50px;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.item {
    margin: 0 5px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
}

.social p,
.social a {
    font-size: 1.25rem;
    color: #102c67;
    font-weight: 500;
    text-decoration: none;
}

.name {
    font-size: 2.82rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: #102c67;
    text-transform: uppercase;
}

.headerLabel {
    font-size: 1.25rem;
    font-weight: 600;
    color: #102c67;
    text-transform: uppercase;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
}

hr {
    border: 0;
    border-bottom: 2px solid #102c67;
    margin: 10px 0;
}

.hr2 {
    border: 0;
    border-bottom: 2px solid #3c87f768;
    margin: 10px 0;
}

.chipContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.chipContainer a {
    text-decoration: none;
    cursor: pointer;
}

.chip {
    font-size: 0.938rem;
    font-weight: 400;
    border-radius: 7px;
    padding: 10px;
    width: fit-content;
    text-align: center;
}

.blue {
    background-color: #7eacf131;
    color: #102c67;
}

.skymist {
    background-color: #E9F5FF;
    color: #0A4D8C;
}

.sunbeamSand {
    background-color: #FFF6E5;
    color: #8A5A00;
}

.mintMedow {
    background-color: #E6F4EA;
    color: #2B593E;
}

.lavenderCloud {
    background-color: #F0EFFF;
    color: #5A38A5;
}

.secondaryHeader {
    width: initial;
    font-weight: 500;
    text-align: left;
}

.round {
    border-radius: 20px;
    padding: 10px 20px;
}

.chip2 {
    background-color: initial;
    padding: 0;
    min-width: 150px;
    text-align: left;
    text-transform: capitalize;
}

.chip2 i {
    margin-right: 5px;
}
.careerTimeline{
    margin-bottom: 9px;
}
.profileSummary p {
    font-size: 16px;
    margin: 10px 0 20px;
    line-height: 25px;
}

.careerTimeline {
    margin-bottom: 9px;
}

.profileSummary p {
    font-size: 1rem;
    margin: 10px 0 20px;
    line-height: 25px;
}

.profileSummary ul,
.workExperience ul {
    padding: 10px 20px;
}

.profileSummary ul li,
.workExperience ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
    list-style: circle;
}

.workExperience p {
    font-size: 0.938rem;
    margin: 10px 0;
}

.companyHolder {
    display: flex;
    align-items: center;
}

.company {
    width: 250px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
}

.company img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.company h4 {
    margin: 0 0 10px;
}

.projects {
    padding: 0 20px;
}

.projects h4 {
    font-size: 1.125rem;
    color: #575757;
}

@media screen and (max-width:900px) {
    body {
        padding: 10px;
    }

    .container {
        display: block;
    }

    .item {
        margin: 0;
    }

    .name {
        font-size: 2.5rem;
    }

    .social p,
    .social a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:500px) {
    body {
        padding-bottom: 30px;
    }

    br {
        display: none;
    }

    .name {
        font-size: 1.8rem;
        margin-top: 5px;
    }

    .social p,
    .social a {
        font-size: 0.62rem;
    }

    .headerLabel {
        font-size: 0.79rem;
        margin-top: 15px;
    }

    .secondaryHeader {
        font-size: 0.59rem;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .profileSummary p {
        font-size: 0.6rem;
        line-height: 16px;
        margin: 0;
    }

    .projects {
        padding: 0;
    }

    .projects h4 {
        font-size: 0.65rem;
    }

    .projects p {
        font-size: 0.6rem;
    }

    .profileSummary ul li,
    .workExperience ul li {
        font-size: 0.6rem;
    }

    .profileSummary ul li:last-child,
    .workExperience ul li:last-child {
        margin-bottom: 0;
    }

    .profileSummary ul,
    .workExperience ul {
        margin-left: 0 !important;
    }

    .companyHolder {
        justify-content: space-between;
    }

    .company {
        padding: 0;
    }

    .company h4 {
        font-size: 0.7rem;
    }

    .company p {
        font-size: 0.6rem;
    }

    .chipContainer {
        gap: 10px;
    }

    .chip {
        font-size: 0.6rem;
        border-radius: 4px;
        padding: 5px 7px;
    }
}